.header {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 7vw;
}
.header img {
  width: 240px;
}
.header nav {
  display: flex;
}
.header nav li {
  margin: 0 8px;
}
.header nav li:first-child {
  margin-left: 0px;
}
.header nav li:last-child {
  margin-right: 0px;
}
.header nav li a {
  color: aliceblue;
  font-weight: 500;
  font-size: 16px;
}
.header nav li a img {
  width: 15px;
}
/* --------------- */
@media (min-width: 1024px) {
  .header img {
    width: 240px;
  }
}
@media (min-width: 1440px) {
  .header img {
    width: 240px;
  }
}
/* --------------- */
.title1 {
  width: 100%;
  position: absolute;
  top: 30vh;
  left: 4vw;
  font-size: 50px;
  font-weight: 700;
}
.title1:nth-child(3) {
  top: 29vh;
  left: 59vw;
}
.title1:nth-child(4) {
  top: 35vh;
  left: 66vw;
}
.title2 {
  width: 100%;
  position: absolute;
  top: 18vh;
  left: 64vw;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
.title2:nth-child(6) {
  top: 22vh;
  left: 66vw;
  color: rgb(236, 110, 25);
  font-weight: 500;
}
.title2:nth-child(7) {
  top: 49vh;
  left: 66vw;
}
.title2:nth-child(8) {
  top: 53vh;
  left: 68vw;
}
/* --------------- */
.logo {
  width: 6em;
  position: absolute;
  top: 20vh;
  left: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: fit-content;
}
/* --------------- */
@media (min-width: 375px) {
  .logo {
    width: 16em;
  }
}
@media (min-width: 1024px) {
  .logo {
    width: 26em;
  }
}
@media (min-width: 1440px) {
  .logo {
    width: 36em;
  }
}
/* --------------- */
.buttons1 {
  position: absolute;
  top: 54vh;
  left: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons1 input {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  border-radius: 10px;
  padding: 0.8vh 4vw;
}
/* --------------- */
@media (min-width: 375px) {
  .buttons1 {
    width: 16em;
  }
}
@media (min-width: 1024px) {
  .buttons1 {
    width: 26em;
  }
}
@media (min-width: 1440px) {
  .buttons1 {
    width: 36em;
  }
}
/* --------------- */
.buttons2 {
  position: absolute;
  top: 61vh;
  left: 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons2 input {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: aliceblue;
  background-color: rgb(236, 110, 25);
  border: rgb(236, 110, 25) 1px solid;
  border-radius: 10px;
  padding: 0.8vh 4vw;
}
/* --------------- */
@media (min-width: 375px) {
  .buttons2 {
    width: 16em;
  }
}
@media (min-width: 1024px) {
  .buttons2 {
    width: 26em;
  }
}
@media (min-width: 1440px) {
  .buttons2 {
    width: 36em;
  }
}

