.sectionModal {  
  width: 86vw;
  height: 76vh;
  color: var(--color-text);
  background-color: var(--color-secondary-light);
  
  display: none; 
  position: fixed;
  z-index: 1;
  left: auto;
  top: 10%; 
  overflow: auto; 
}

.close {
  cursor: pointer;
  width: 2.6rem; 
  padding-bottom: 0.4rem; 
  color: var(--color-background);
}
.close:hover {color: var(--color-secondary-title);}