.sectionModal {  
  width: 80vw;
  max-width: 700px;
  height: 60vh;
  max-height: 500px;
  /* display: flex;
  justify-content: center;
  padding: 2rem; */
  color: var(--color-text);
  background-color: var(--color-secondary-light);
  
  display: block; 
  position: fixed;
  z-index: 1;
  left: auto;
  top: 14%; 
  overflow: auto; 
}

.close {
  cursor: pointer;
  width: 2.6rem; 
  padding-bottom: 0.4rem; 
  color: var(--color-background);
}
.close:hover {color: var(--color-secondary-title);}