.sectionHeader {
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.sectionHeader nav {display: flex;line-height: 3rem;}
.sectionHeader nav li { margin: 15px; }
.sectionHeader nav li a{ color: var(--color-background); font-size: calc(16px + var(--font-factor)); font-weight: 500;}
.sectionHeader nav li a:hover{color: var(--color-primary-title); }
.hamburguerMenu {width: calc(16px + var(--font-factor)); padding-bottom: 0.4rem; color: var(--color-background);}
.hamburguerMenu:hover {color: var(--color-secondary-title);}

.sectionHeaderImg img {
  width: 94vw;
  max-width: 900px;
  display: flex;
  justify-content: center;
  margin: 2rem 0 6rem;
}

.sectionHeaderButtons {
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}
.sectionHeaderButtons input {
  margin: 5px;
}
.buttonsPrimary {
  width: fit-content;
  font-size: calc(12px + var(--font-factor));
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--color-secondary);
  border: var(--color-secondary) 1px solid;
  border-radius: 8px;
  padding: 1vh 6vw;
}
.buttonsPrimary:hover {
  background-color: var(--color-secondary-dark);
}
.buttonsSecondary {
  width: fit-content;
  font-size: calc(12px + var(--font-factor));
  font-weight: 500;
  color: var(--color-background);
  background-color: rgba(0, 0, 0, 0);
  border:  var(--color-background) 1px solid;
  border-radius: 8px;
  padding: 1vh 6vw;
}
.buttonsSecondary:hover {
  background-color:rgba(0, 0, 0, 0.1);
}

