.headerTier {
  height: 30em;
  padding: 5px 5px;
  display: flex;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../../img/image-tier.png") no-repeat;
  background-size: cover;
}
/* --------------- */
@media (min-width: 1024px) {
    .headerTier {
      height: 40em;
  }
}
@media (min-width: 1440px) {
    .headerTier {
      height: 50em;
  }
}