.sectionHeader {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 10vw;
}
.sectionHeader nav {display: flex;}
.sectionHeader nav li { margin: 0 15px; }
.sectionHeader nav li:first-child{ margin-left: 0; } 
.sectionHeader nav li:last-child{ margin-right: 0; }
.sectionHeader nav li a{ color: #fff; font-size: 20px; font-weight: 500;}
.sectionHeader nav li a:hover{ color: orangered; }
.sectionHeaderImg {
  display: flex;
}
.sectionHeaderImg img {
  width: 100%;
  display:block; 
  height: auto;
}
.sectionHeaderLogoImg {
  width: 8vw;
}
.sectionHeaderLogoTxt {
  width: 16vw;
}
.sectionHeaderButtons {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vh;
}
.sectionHeaderButtons input {
  margin: 5px;
}
.buttonsPrimary {
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  background-color: rgb(236, 110, 25);
  border: rgb(236, 110, 25) 1px solid;
  border-radius: 10px;
  padding: 1.2vh 5vw;
}
.buttonsPrimary:hover {
  background-color: rgb(248, 140, 78);
}
.buttonsSecondary {
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
  border-radius: 10px;
  padding: 1.2vh 5vw;
}
.buttonsSecondary:hover {
  background-color: rgba(239, 245, 242, 0.2);
}
@media (min-width: 600) {
  .buttonsPrimary, .buttonsSecondary {font-size: 24px;}
  .sectionHeader nav li a{ font-size: 24px;}
  .sectionHeaderLogoImg {width: 4vw;}
  .sectionHeaderLogoTxt {width: 8vw;}
  .sectionHeaderButtons input {margin: 5px;}
}
@media (min-width: 900) {
  .buttonsPrimary, .buttonsSecondary {font-size: 30px;}
  .sectionHeader nav li a{ font-size: 30px;}
  .sectionHeaderLogoImg {width: 4vw;}
  .sectionHeaderLogoTxt {width: 8vw;}
  .sectionHeaderButtons input {margin: 10px;}
}
@media (min-width: 1200) {
  .buttonsPrimary, .buttonsSecondary {font-size: 40px;}
  .sectionHeader nav li a{ font-size: 40px;}
  .sectionHeaderLogoImg {width: 4vw;}
  .sectionHeaderLogoTxt {width: 8vw;}
  .sectionHeaderButtons input {margin: 20px;}
}