:root { 
  --color-background: #F0F0F7;
  --color-text: #9C98A6;
  --color-title: #6A6180;
  --color-input: #666074;
  --color-input-background: #F8F8FC;
  --color-text-primary: #03e669;
  --color-title-primary: #03c058;
  --color-text-secondary: #ff771c;
  --color-title-secondary: #d86518;
  --color-primary-light: #03e669;
  --color-primary: #04D361;
  --color-primary-dark: #03c058;
  --color-primary-text: #D4C2FF;
  --color-primary-title: #FFFFFF;
  --color-secondary-light: #ff771c;
  --color-secondary: #EC6E19;
  --color-secondary-dark: #d86518;
  --color-secondary-text: #D4C2FF;
  --color-secondary-title: #FFFFFF;
  font-size: 60%; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

body, input, button, textarea {
  font-family: Roboto, Ubuntu, sans-serif;
  font: 500 1.6rem sans-serif;
  color: var(--color-text);
}

nav, ul, a {
  text-decoration: none;
  list-style: none;
  outline: none; 
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700) {
  :root {
    font-size: 62.5%;
  }
}

