:root { 
  --color-background: #F0F0F7;
  --color-text: #9C98A6;
  --color-title: #6A6180;
  --color-input: #666074;
  --color-input-background: #F8F8FC;
  --color-input-border: #9C98A6;
  --color-text-primary: #03e669;
  --color-title-primary: #03c058;
  --color-text-secondary: #ff771c;
  --color-title-secondary: #d86518;
  --color-primary-light: #03e669;
  --color-primary: #04D361;
  --color-primary-dark: #03c058;
  --color-primary-text: #D4C2FF;
  --color-primary-title: #FFFFFF;
  --color-secondary-light: #ff771c;
  --color-secondary: #EC6E19;
  --color-secondary-dark: #d86518;
  --color-secondary-text: #D4C2FF;
  --color-secondary-title: #FFFFFF;
  --font-factor: 2.2vw;
  --width-factor: 96vw;
  --max-width-factor: 900px;
  font-size: 60%; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  height: 100vh;
}

body {
  background: var(--color-background);
}

body, input, button, textarea, h1, h2, h3 {
  font-family: Roboto, Ubuntu, sans-serif;
  font: 500 1.6rem sans-serif;
  color: var(--color-text);
}

textarea:focus, input:focus {
  outline: none !important;
  border:1px solid #355a34;
  box-shadow: 0 0 10px #566e61;
}

nav, ul, a {
  text-decoration: none;
  list-style: none;
  outline: none; 
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --font-factor:3vw;
    --width-factor: 92vw;
    --max-width-factor: 580px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)  {
  :root {
    --font-factor:1vw;
    --width-factor: 90vw;
    --max-width-factor: 700px;
  }
}

