.sectionGreenTier {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/tier-back-green.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionWhiteTier {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/tier-back-white.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionEmptyTier {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/public/banner-panel.png');
  background-repeat: no-repeat;
  background-size: cover;
}