.sectionAlert {  
  width: var(--width-factor);
  max-width: var(--max-width-factor);
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.sectionAlertImg {
  display: flex;
}
.sectionAlertImg img {
  width: var(--width-factor);
  max-width: var(--max-width-factor);
  display:block; 
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;  
}
.sectionAlertButtons {
  width: var(--width-factor);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionAlertButtons input {
  margin: 1rem 15rem 5rem 0;
}
.buttonsSecondary {
  width: fit-content;
  font-size: calc(12px + var(--font-factor));
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--color-primary);
  border: var(--color-primary) 1px solid;
  border-radius: 8px;
  padding: 1vh 6vw;
}
.buttonsSecondary:hover {
  background-color: var(--color-primary-dark);
}