.sectionAlert {  
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.sectionAlertImg {
  display: flex;
}
.sectionAlertImg img {
  width: 100%;
  display:block; 
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  
}
.sectionAlertButtons {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionAlertButtons input {
  margin: 1rem 15rem 5rem 0;
}
.buttonsSecondary {
  width: fit-content;
  font-size: calc(16px + 1vw);
  font-weight: 500;
  color: var(--color-primary-dark);
  background-color: rgba(0, 0, 0, 0);
  border:  var(--color-primary-dark) 1px solid;
  border-radius: 8px;
  padding: 1vh 6vw;
}
.buttonsSecondary:hover {
  color: var(--color-background);
  border-color:var(--color-background);
  background-color:rgba(3, 192, 88);
}