.sectionContact {
  width: var(--width-factor);
  max-width: var(--max-width-factor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.sectionContact h2 {
  width: 100%;
  max-width: 700px;
  height: 4.4rem;
  color: var(--color-background);
  font-size: calc(16px + var(--font-factor));
  font-weight: 600;
}
.sectionContact > input {
  width: 100%;
  max-width: 700px;
  height: 4.4rem;
  margin-top: 1.6rem;
  border-radius: 0.8rem;
  background-color: var(--color-input-background);
  border: 1px solid var(--color-input-border);
  outline: 0;
  padding: 0 1.6rem;
  font-size: calc(2px + var(--font-factor));
}
.sectionContact > textarea {
  width: 100%;
  max-width: 700px;
  height: 12rem;
  min-height: 8.8rem;
  margin-top: 1.6rem;
  border-radius: 0.8rem;
  background-color: var(--color-input-background);
  border: 1px solid var(--color-input-border);
  outline: 0;
  padding: 1.6rem 1.6rem;
  font-size: calc(2px + var(--font-factor));
  resize: vertical;
}

.sectionContactButtons {
  width: var(--width-factor);
  max-width: var(--max-width-factor);
  display: flex;
  justify-content: center;
}
.sectionContactButtons input {
  max-width: 700px;
  margin: 4rem 0 4rem;
}
.buttonsPrimary {
  width: fit-content;
  max-width: 700px;
  font-size: calc(12px + var(--font-factor));
  font-weight: 500;
  color: var(--color-background);
  background-color: var(--color-secondary);
  border: var(--color-secondary) 1px solid;
  border-radius: 8px;
  padding: 1vh 6vw;
}
.buttonsPrimary:hover {
  background-color: var(--color-secondary-dark);
}
