.sectionRegister {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 10vw;
}
.sectionRegisterImg {
  display: flex;
}
.sectionRegisterImg img {
  width: 100%;
  display:block; 
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  
}
.sectionRegisterButtons {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionRegisterButtons input {
  margin: 5px;
}
.buttonsSecondary {
  width: fit-content;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  color: green;
  background-color: rgba(0, 128, 0, 0);
  border: solid 1px green;
  border-radius: 10px;
  padding: 1.2vh 5vw;
}
.buttonsSecondary:hover {
  background-color: rgba(89, 199, 144, 0.2);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sectionRegisterButtons input {margin: 20px;}
  .buttonsSecondary {font-size: 20px;}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .sectionRegisterButtons input {margin: 22px;}
  .buttonsSecondary {font-size: 22px;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .sectionRegisterButtons input {margin: 26px;}
  .buttonsSecondary {font-size: 26px;}
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .sectionRegisterButtons input {margin: 20px;}
  .buttonsSecondary {font-size: 30px;}
}
