.sectionRegister {  
  width: 90vw;
  max-width: 700px;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.sectionRegisterImg {
  display: flex;
}
.sectionRegisterImg img {
  width: 100%;
  display:block; 
  height: auto;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  
}
.sectionRegisterButtons {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionRegisterButtons input {
  margin: 1rem 0 5rem 12rem;
}
.buttonsSecondary {
  width: fit-content;
  font-size: 2.0rem;
  font-weight: 500;
  color: var(--color-primary-dark);
  background-color: rgba(0, 0, 0, 0);
  border:  var(--color-primary-dark) 1px solid;
  border-radius: 8px;
  padding: 1vh 6vw;
}
.buttonsSecondary:hover {
  background-color:rgba(0, 0, 0, 0.1);
}